@model LibraryManagementSystem.Models.Member
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login</h2>
<div style="margin-left:200px;width:500px">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        @Html.LabelFor(c => c.uname, "Username")
        @Html.TextBoxFor(c => c.uname, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.uname)

        @Html.LabelFor(c => c.pwd, "Password")
        @Html.TextBoxFor(c => c.pwd, new { @class = "form-control", @type = "password" })
        @Html.ValidationMessageFor(c => c.pwd)

        <input type="submit" value="Login" class="btn btn-primary" />
    }
</div>



